# wordpress

# Carpetas

/Migracion/
/Cambios/
/.idea/
/Pruebas/
/wp-admin/
/wp-includes/
/wp-content/gallery/
/wp-content/languages/
/wp-content/ngg/
/wp-content/ngg_styles/
/wp-content/upgrade/
/wp-content/uploads/

Respaldo*

# Archivos

.htaccess
favicon.ico
/wp-content/index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
vlz_config.php

# Plugins

licencia.txt
*.txt
logo-kmimos210x120.png
readme.html
.idea/workspace.xml
.idea/modules.xml