@font-face {
    font-family: Poetsen One;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
body{
	background: #49C9B0;
	color: #3a3a3a;
	/*font-family: 'Lato', sans-serif;*/
	font-family: Poetsen One;
}
strong{
	font-weight: 900;
}

html,body{
	margin:0px;
	height:100%;
}
.naranja {
    color: #ffa500;
}
.verde {
    color: #2d9a7a;
}
.container-fluid{
	overflow: hidden;
	height: 100%;
}

/***************************************/
/*  CABECERA Y Section-1               */
/***************************************/

header{
	background: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
}

.logo{
	width: 260px;
    height: 50px;
}

.ancho{
	padding-bottom: 300px;
}
#section-1{
	background-image: url(../img/fondo-section01.jpg);
	background-position: bottom;
    background-size:  100% 170%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	overflow: hidden;
	color: #fff;
	font-weight: lighter;
	height: 100%;
}
#section-1 h1{
	margin-top:10%;
	font-weight: lighter;
	font-size: 35px;
	text-align: center;
}
#section-1 > a > img{
	position: absolute;
	bottom: 130px;
	width: 90%;
	max-width: 400px;
	left: 0;
	right: 0;
	margin:0 auto;
}
/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
	background: #fff;
	width: 100%;
	overflow: hidden;
}
.img-galeria {
	display: block;
	margin: 0 auto 0 auto;
	width: 280px;
	height: 280px;
	max-width: 300px;
	padding-bottom: 25px;
}
.espace{
	margin-right: -10%;
}
.move-low{
	padding-top: 5%;
}

#section-2  article {
	display: block;
	width: 100%;
	height: 50%;
	margin-top: 3%;
	margin-left: 15%;	
}
#section-2 > article:first{
	margin-top:10px;
}

#section-2 h2{
	margin-top:0px!important;
	margin-bottom:0px!important;
	color: #fff;
	font-size: 1em;
}
iframe {
    max-width: 70%;
    max-height: 80%;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:0%;
	padding-top:45%;
	height:0;
	overflow:hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}

.contain_window{height: 65%; margin: 0; overflow: hidden; }
.color-fondo{background-color: #C90235;}
.header{padding: 20px 0; color: #FFF; font-size: 40px; text-align:center; background:#C90235; font-family: Poetsen One;}

/***************************************/
/*  Section-3                          */
/***************************************/

#section-3{
	font-family: Poetsen One;
	color: #fff;
	padding-top:45px;
	padding-bottom: 45px;
	background: #fff;
	height: 65%;
	margin: 0 auto;
	overflow: hidden;
}
.lista-3{
	color:#fff!important;
	font-size: 20px;
}
.row-1{
	margin-left: -20px;
}
.morado{
	background-color: #AB07A0;
	padding: 5px;
	height: 350px;
	margin-left: 0px;
}
.morado > h2{
	font-size: 3em!important;
	text-align: center;
	color: #fff;
}
.radius{
	border:1px solid;
	border-radius: 0px 25px 25px 0px;	
}
#img-ventaja{
	display: block;
    width: 40%;
    height: 280px;
    position: absolute;
    margin: 0 auto;
    margin-top: 15%;
    margin-left: 27%;
}
#img-perro{
	width: 25%;
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 46%;
    margin-left: 12%;
}
#img-pelota{
	display: block;
    width: 7%;
    position: absolute;
    margin: 0 auto;
    margin-top: 55%;
    margin-left: 36%;
}

/***************************************/
/*  Section-4                          */
/***************************************/

#section-4{
	font-family: Poetsen One;
	margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
    background: #fff;
    height: 80%;
    overflow: hidden;
    margin: 20px;
}

.conte-serv-ind{
	padding: 30px;
	margin:0 auto;
	width: 100%;
    height: 65%;
    color: #867d7d;
}

#h2{
	font-size: 3em!important;
	text-align: center;
	color: #49c9b0;
	margin-bottom: 30px;
}
#section-4 article{
	padding-top:1%;
	padding-bottom:1%;
}
.thumbnail{
	border: 0px;
}
.thumbnail > div > p{
	font-family: inherit;
	font-size: 20px;
	color: #676565;
}
.img-servicio{
	width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 5%;
    margin-left: 18%;
}

/***************************************/
/*  Section-5                          */
/***************************************/

#section-5{
	font-family: Poetsen One;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #49c9b0;
	font-weight: lighter;
	overflow: hidden;
}
.img-requisitos{
	width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.img-req{
	width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.conte-requ-ind{
	padding: 5px;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    margin-bottom: 15px;
    margin-left: 60px;
}
.content-color{
	background-color: #fff;
	margin: 0 auto;
}
#h2-req{
	font-size: 3em!important;
	text-align: center;
	color: #49c9b0;
	margin-bottom: 30px;
}
.letra{color: #867d7d; text-align: center;}
.centrate{
	margin:0 auto;
	margin-left: 155px;
    margin-top: 20px;
}

/***************************************/
/*  Section-6                          */
/***************************************/

#section-6{
	background-color: #FBDDB3;
	font-family: Poetsen One;
	width: 100%;
	height: auto;
	color: #fff;
	font-weight: lighter;
	overflow: hidden;
}
.move{
	margin: 0 auto;
	margin-left: 70px;
}
#color-h2{
	font-size: 2em!important;
	text-align: center;
	color: #FF9703;
	font-weight: 700;
}
.certificacion-color{
	background-color: #FBDDB3;
	margin:0 auto;
	margin-left: 0;
	margin-right: 0;
}
.conte-cert-ind {
	background-color: #FBDDB3;
	padding: 20px;
	margin:0 auto;
	width: 100%;
    height: 75%;
    font-size: 20px;
    color: #676565;
}
.group{
	width: 100%;
	height: 100%;
}
.cert{
	width: 55%;
    margin: 0 auto;
    margin-left: 20%;
}
.indi{
	width: 12%;
    margin: 0 auto;
    position: absolute;
    margin-bottom: 35%;
    margin-left: 20%;
}

/***************************************/
/*  Section-7                          */
/***************************************/

#section-7{
	background-image: url(../img/fondo-section01.jpg);
	font-family: Poetsen One;
	background-position: bottom;
    background-size:  100% 170%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
	overflow: hidden;
	color: #fff;
	font-weight: lighter;
	height: auto;
	padding-bottom: 10px;
}

#section-7  > a > img{
	
	position: absolute;
	bottom: 0px;
	width: 90%;
	max-width: 400px;
	left: 0;
	right: 0;
	margin:0 auto;
	margin-bottom: 25px;
}
.img-pais{
	
	position: relative;
	width: 90%;
	max-width: 400px;
	margin:0 auto;
}

.h2-foot{
	font-size: 3em!important;
	text-align: center;
	color: #fff;
}
.h3-foot{
	font-size: 2em!important;
	text-align: center;
	color: #fff;
	padding: 10px;
}
.espacios{
	display: block;
	margin: 0 auto;
	padding: 5%;
}

/***************************************/
/*  footer                             */
/***************************************/

footer{
	color: #676565;
	background: #00B190;
	padding-top: 30px;
	height: 40%;
	font-family: Poetsen One;

}
.tama-footer{
	font-size: 15%;
}
.padding-foot{
	padding: 5px;
    width: 25%;
    margin: 0 auto;
    margin-left: 7%;x
}
.color-blanco{
	background-color: #fff;
	top:-32px;
}
.content-foot{
	width: 50%;
    margin: 0 auto;
    color: #676565;
    font-size: 1.5em;
    margin-top: 2%;
    margin-left: -10%;
}
/***************************************/
/*  Media                              */
/***************************************/

@media (max-width: 766px){ 
	#section-1 h1{font-size: 25px; margin-top: 40%;}
	.btn-kmimos{font-size: 13px;}
	.logo{width: 40%;}
	.img-kmimos{width: 80%; padding:20px;}
	.container-fluid {overflow: hidden;height: 100%;}
	#section-2{margin-bottom: 15px; height: 40%;}
	.header{
	    padding: 10px 0;
    	color: #FFF;
    	font-size: 1.5em; 
		text-align:center; 
		background:#C90235; 
		font-family: Poetsen One;
	}
	.contain_window{height: auto; margin: 0; overflow: hidden; }
	.img-galeria {
		display: block;
	    margin: 0 auto;
	    width: 45%;
	    height: 140px;
	    max-width: 300px;
	    padding-bottom: 30px;
	    margin-left: 30%;
	    margin-top: 5%;
	}
	#section-2  article {
		display: block;
		width: 100%;
		height: 50%;
		margin-top: 15%;
    	margin-left: 20%;	
	}
	#section-2 h2{
		margin-top:0px!important;
		margin-bottom:0px!important;
		color: #fff;
		font-size: 1em;
	}
	.video-container {
		position:relative;
		padding-bottom: 20%;
		padding-top:45%;
		height:0;
		overflow:hidden;
	}
	.video-container iframe, 
	.video-container object, 
	.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}

	.img-req{
		width: 180px;
	    height: 180px;
	    margin: 0 auto;
	    padding: 5px;
	    margin-bottom: 10px;
	    margin-left: 68px;
	}

	#section-3{height: 55%;}
	.lista-3{
		color:#fff!important;
		font-size: 12px;
	}
	.morado{
		background-color: #AB07A0;
		padding: 5px;
		height: 315px;
		margin-left: 0px;
	}
	.morado > h2{
		font-size: 1em!important;
		text-align: center;
		color: #fff;
	}
	#img-ventaja{
		display: block;
	    width: 85%;
	    height: 200px;
	    position: absolute;
	    margin: 0 auto;
	    margin-top: 80%;
	    margin-left: 27%;
	}
	#img-perro{
		width: 55%;
	    position: absolute;
	    display: block;
	    margin: 0 auto;
	    margin-top: 190px;
	    margin-left: -7%;
	}
	#img-pelota{
		display: block;
	    width: 14%;
	    position: absolute;
	    margin: 0 auto;
	    margin-top: 205px;
	    margin-left: 48%;
	}
	.img-servicio{margin-left: 10%;}

	#h2{
		font-size: 1.5em!important;
		text-align: center;
		color: #49c9b0;
	}
	.conte-serv-ind{
		padding: 20px;
		margin:0 auto;
		width: 100%;
	    height: 100%;
	}
	.img-requisitos{
		width: 180px;
	    height: 180px;
	    margin: 0 auto;
	    padding: 5px;
	    margin-bottom: 10px;
	    margin-left: 25px
	}
	.conte-requ-ind{
		padding: 30px;
		margin:0 auto;
		width: 100%;
	    height: 65%;
	}
	.content-color{
		background-color: #fff;
		margin: 0 auto;
	}
	#h2-req{
		font-size: 1.5em!important;
		color: #49c9b0;
		margin-bottom: 30px;
	}
	.centrate{
		margin:0 auto;
		text-align: center;
	    margin-top: 10px;
	}
	.text-right{text-align: center!important;}
	
	.conte-cert-ind {margin-left: -30px;}
	.cert{margin-left: 5%;}
	.indi{margin-left: 8%;}
	#color-h2{
		font-size: 1.5em!important;
		font-weight: 600;
	}
	.h2-foot{
		font-size: 1.5em!important;
		text-align: center;
		color: #fff;
	}
	.textcertifie{font-size: 14px; text-align: center;	}

	.h3-foot{
		font-size: 1.5em!important;
		text-align: center;
		color: #fff;
		padding: 10px;
	}
	.img-pais{
		position: relative;
		width: 65%;
		max-width: 400px;
		margin:0 auto;
	}
	#section-7{
  		background-size: 150% 155%;
  	}
	footer{
		height: 80%;
	}
	.tama-footer{
		font-size: 5%;
	}
	.padding-foot{
	    margin-left: 25%;
	    margin-top: 25px;
	}
	.color-blanco{
		height: 85%;
	}
	.content-foot{
		width: 50%;
	    margin: 0 auto;
	    color: #676565;
	    font-size: 20px;
	    margin-top: 2%;
	    margin-left: 2%;
	    height: 10%;
	}
	
	#section-4,
	#section-5,
	#section-6,
	#section-7{
		text-align: center!important;
		height: auto;
	}
}
@media (min-width: 767px) and (max-width: 991px){ 
	#section-1 h1{
		font-size: 25px;
	}
	.btn-kmimos{
	    font-size: 13px;
	}
	.img-kmimos{
		width: 70%;
		padding:10px;
	}
	.logo{
		width: 25%;
	}
	.text-right{
		text-align: center!important;
	}
	#section-2,
	#section-4{
		text-align: center;
	}
}
@media (min-width: 992px) { 

	.img-kmimos{
		width: 80%;
	}
	

}
@media (min-width: 1200px) { 


}
